* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* common class */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  background-color: orange;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid goldenrod;
  transition: 0.3s ease-in;
}

.btn:hover {
  color: black;
  background-color: black;
  border: 1px solid goldenrod;
  color: white;
}

.h {
  color: orange;
  font-size: 1.3rem;
}

.pgray {
  color: white;
}

.bigh {
  font-size: 2.5rem;
}

.ptag {
  font-weight: 500;
  color: white;
}

/* */
.header-ab {
  background: linear-gradient(45deg, #13e5dbe4 0%, #fb09b2ee 51%, #00f84ac7 100%);
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  word-spacing: 10px;
  border-bottom: 2px solid gold;
}

header {
  background-color: #0000005a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

.logo img {
  width: 120px;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  transition: 0.5s ease;
  padding: 8px 12px;
  color: orange;
  margin-left: 20px;
  border-radius: 10px;
}

nav ul li a:hover {

  border-radius: 10px;
  background-color: #ffffff45;

}

.menu-png {
  display: none;
}

/* banner section */
.banner-section {
  background: url(Assects/img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.banner {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hclass {
  color: wheat;
  font-size: 3rem;
  text-align: center;
  line-height: 100px;
  font-style: italic;
  color: white;
  border-radius: 20px;
  background: #0000008c;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  box-shadow: 1px 0.5px 5px #00f82d4c;
}

.about-container {
  display: flex;
  gap: 50px;
  margin-top: 100px;
}

.big-img {
  width: 500px;
  height: auto;
  border-radius: 20px;
}

.about-contant {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-btn {
  width: 300px;
  text-align: center;
}

/* shop section */
.shop h2 {
  font-size: 4rem;
  margin: 50px 0px;
  border-bottom: 1px solid rgba(172, 255, 47, 0.331);
  padding-bottom: 20px;
}

.img img {
  width: 250px;
  border-radius: 12px;
}

.shop-contant span {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 0, 255);
}

.shop-contant {
  display: flex;
  gap: 30px;
  padding: 20px 10px;
}

.shop-contant button {
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  border: 1px solid goldenrod;
}

.simgcon {
  background: linear-gradient(45deg, #13e5dbe4 0%, #fb09b2ee 51%, #00f84ac7 100%);
  width: 250px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 1px 2px 5px #00000063;
}

.simgcon:hover {
  box-shadow: 1px 2px 5px 1px #0aa30f;
}

.simgcon p {
  font-weight: 500;

}

.s-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* mobile responsive */

@media screen and (max-width:576px) {
  .header-ab {
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 0.8rem;
  }

  .hclass {
    font-size: 1.2rem;
    line-height: 50px;
    padding: 10px;
    background: #0000007b;
    color: #ffffffcc;
    width: 320px;
    margin: auto;

  }

  .logo img {
    width: 80px;

  }

  .banner-section {
    height: auto;
    height: 300px;
  }

  .container {
    width: 100%;
  }

  .menu-png {
    display: inline-block;

  }

  .menu-png img {
    width: 40px;
  }

  .menu-png {
    border-radius: 10px;
    margin-right: 30px;
  }

  nav ul {
    display: none;

  }

  .container {
    padding-top: 0;
  }

  /* about section responsive */
  .about-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about-btn {
    width: 200px;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .bigh {
    font-size: 1.5rem;
  }

  .ptag {
    font-size: 12px;
    width: 410px;
    margin: 0 auto;
  }

  .h {
    font-size: 0.8rem;
  }

  .pgray {
    font-size: 0.8rem;
  }

  .big-img {
    width: 400px;

  }

  /* shop section responsive */
  .shop h2 {
    font-size: 3rem;
    text-align: center;

  }

  .img img {
    width: 200px;
  }

  .shop-contant span {
    font-size: 1rem;
  }

  .simgcon {
    width: 200px;
    padding-bottom: 10px;
  }

  .shop-contant button {
    padding: 3px 10px;
  }
  
.shop-contant {
  display: flex;
  gap: 10px;
  padding: 8px 15px;

}
}